.container {
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background-color: #fff;
    color: #262626;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 50px;
    gap: 20px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;

}

.container {
    font-size: 27px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
}

.container button {
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 20px;
}

.container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;

}

.container .correct {
    background: #d9f7be;
    border-color: #00b300;
}