/* Add some basic styling to the Todo component */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
}

.todo-container {
  text-align: center;
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.task-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  
}

.task-actions {
  display: flex;
  align-items: center;
}

.task-actions button {
  margin-left: 5px;
}

/* Add some styling for the emoji buttons */
.task-actions button.emoji {
  font-size: 16px;
}

.a{
  flex: 1;
  text-align: left;
}